<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itp341.webb.jerry.greenbeatmachine" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_with_headset"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MidiSequencerActivity"
            android:label="@string/midi_view_label"
            android:screenOrientation="landscape">
        </activity>

        <!--<activity android:name=".MixerActivity"-->
            <!--android:label="@string/mixer_view_label"-->
            <!--android:screenOrientation="landscape">-->
        <!--</activity>-->
    </application>

</manifest>
